body {
    color: rgb(0, 0, 0);
    background: rgb(231, 194, 139);
    margin: 0px;
    font-family: "Roboto Mono", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 4px rgb(0, 0, 0);
    padding: 20px;
    font-size: 38px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.chamada {
    background: rgb(250, 232, 183);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 4px black;
}

.chamada-texto {
    margin-right: 5%px;
}

h1 {
    font-size: 40px;
    margin-right: 50px;
}

h2 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: chocolate;
}

h3 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: chocolate;
}

p {
    font-size: 20px;
}

.gamemaker {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.gamemaker img {
    height: 200px;
}

.borda {
    margin-left: 40px;
    border: solid 3px white;
}

.java {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.java-script {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.java-script img {
    height: 200;
}
